@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3><p><b>Boatz</b> is an annual competition for boat racing where individuals can form teams and apply for competitions against other teams.</p></h3>
<p>This annual event was made possible with the help of Coventry University</p>
