@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Coventry University<br />
    Priory Street<br />
    Coventry, CV1 5FB<br />
</address>

<address>
    <strong>Team Leader:</strong> Martin Metodiev  <a href="mailto:metodiem@uni.coventry.ac.uk">metodiem@uni.coventry.ac.uk</a><br />
    <strong>Back-End Developer:</strong> Yekta Aksoy <a href="mailto:aksoyy@uni.coventry.ac.uk">aksoyy@uni.coventry.ac.uk</a><br/>
    <strong>Front-End Developer:</strong> Jason Evans <a href="mailto:evansj39@uni.coventry.ac.uk">evansj39@uni.coventry.ac.uk</a><br />
    <strong>Front-End Developer:</strong> Jerry Kurian <a href="mailto:kurianj@uni.coventry.ac.uk">kurianj@uni.coventry.ac.uk</a>
</address>