@{
    ViewBag.Title = "Home Page";
}
<img src="~/images/boatz.png" alt="Boatz Photo" style='width:100%;' border="0" />

<div class="jumbotron">
    <p class="lead">Welcome to Boatz where we host the best boat racing competitions, once registered please create a team or ask for an invitation</p>
    
</div>

<table width="100%" border="1">
    <tr>
        <td align="center"><b>100 Metres Race</b></td>
        <td align="center"><b>500 Metres Race</b></td>
        <td align="center"><b>1 Kilometre Race</b></td>
    </tr>
    <tr>
        <td align="center">In this competition teams compete against each other trying to get to the 100 metres mark in the shortest amount of time.</td>
        <td align="center">In this competition teams compete against each other trying to get to the 500 metres mark in the shortest amount of time.</td>
        <td align="center">In this competition teams compete against each other trying to get to the 1 kilometre mark in the shortest amount of time.</td>
    </tr>
    <tr>
        <td align="center"><img width="320" src="~/images/Boat_1.png"/></td>
        <td align="center"><img width="320" src="~/images/Boat_2.png" /></td>
        <td align="center"><img width="320" src="~/images/Boat_3.jpg" /></td>
    </tr>
</table>