@{
    ViewBag.Title = "Home Page";
}
<img src="images/boatz.png" alt="Boatz Photo" style='width:100%;' border="0" />

<div class="jumbotron">
    <p class="lead">Welcome to Boatz where we host the best boat racing competitions, once registered please create a team or ask for an invitation</p>
    
</div>

